<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= current_spina_account.name %></title>

    <%= stylesheet_link_tag "inter-font" %>
    <%= stylesheet_link_tag "tailwind" %>
    <%= stylesheet_link_tag "application" %>

    <%= csrf_meta_tags %>
  </head>
  <body class="flex h-full bg-zinc-50 dark:bg-black">
    <div class="flex w-full">
      <div class="fixed inset-0 flex justify-center sm:px-8">
        <div class="w-full bg-white ring-1 ring-zinc-100 dark:bg-zinc-900 dark:ring-zinc-300/20"></div>
      </div>
      <div class="relative flex w-full flex-col">
        <header class="pointer-events-none relative z-50 flex flex-none flex-col" style="height:var(--header-height);margin-bottom:var(--header-mb)">
          <div class="order-last mt-[calc(theme(spacing.16)-theme(spacing.3))]"></div>
          <div class="sm:px-8 top-0 order-last -mb-3 pt-3" style="position: var(--header-position);"></div>
          <div class="top-0 z-10 h-16 pt-6" style="position:var(--header-position)">
            <div class="sm:px-8 top-[var(--header-top,theme(spacing.6))] w-full" style="position:var(--header-inner-position)">
              <div class="mx-auto w-full max-w-7xl lg:px-8">
                <div class="relative px-4 sm:px-8 lg:px-12">
                  <div class="mx-auto max-w-2xl lg:max-w-5xl">
                    <div class="relative flex gap-4">
                      <div class="flex flex-1"></div>
                      <div class="flex flex-1 justify-end md:justify-center">
                        <%= render 'default/shared/navigation' %>
                      </div>
                      <div class="flex justify-end md:flex-1"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
        <div class="flex-none" style="height: var(--content-offset);"></div>
        <main class="flex-auto">
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>